<!--Récupération de la liste envoyée par le contrôleur-->
@model List<TPLOCAL1.Models.Avis>

<!--Disposition générale de la page-->
@{
    ViewBag.Title = "Liste des avis";
    ViewBag.h1 = "Liste des avis";
    ViewBag.LienSec = "Formulaire";
    ViewBag.NomPrem = "Accueil";
    ViewBag.NomSec = "Formulaire";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!--Récapitulatif du formulaire enregistré-->
<section>
    <table>
        <caption>Liste</caption>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Avis donné</th>
        </tr>
        @foreach (var avis in Model)
        {
            <tr>
                <td>@avis.Nom</td>
                <td>@avis.Prenom</td>
                @{
                    if (avis.AvisDonne == "O")
                    {
                        <td style="background-color:green">Oui</td>
                    }
                    else if (avis.AvisDonne == "N")
                    {
                        <td style="background-color:red">Non</td>
                    }
                    else
                    {
                        <td>Erreur</td>
                    }}
            </tr>
        }
    </table>
</section>

