<!--Disposition générale de la page-->
@{
    ViewBag.Title = "HN - TP LOCAL";
    ViewBag.h1 = "Bienvenue dans le TP HN";
    ViewBag.LienPrem = "Formulaire";
    ViewBag.LienSec = "ListeAvis";
    ViewBag.NomPrem = "Remplir le formulaire";
    ViewBag.NomSec = "Liste avis";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!--Lien vers le formulaire-->
<section>
    <p>
        <a href="/Home/Index/Formulaire">Remplir le formulaire </a>
    </p>
</section>

